BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
PenaltyReturnTypeOnItsOwnLine: 1000
AlwaysBreakAfterReturnType: None
